<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>figure1-4</title>
</head>
<body>
	<div ng-controller='HelloController'>
		<input ng-model='greeting.text'>	
		<p>{{greeting.text}}, World!</p>
		<!--<p ng-bind="greeting.text">, World!</p>-->
	</div>
	<div ng-controller='CartController'>
		<h1>Your Order</h1>		
		<div ng-repeat='item in items'>
			<span>{{item.title}}</span>
			<input ng-model='item.quantity'>
			<span>{{item.price | currency}}</span>
			<span>{{item.price * item.quantity | currency}}</span>
			<button ng-click="remove($index)">Remove</button>
		</div>
		<!--
		   -[>this one is for Observering Model Changes with $watch()<]
		   -<div>Total    : {{totalCart() | currency}}</div>
		   -<div>Discount : {{bill.discount | currency}}</div>
		   -<div>Subtotal : {{subtotal() | currency}}</div>
		   -->
		<!--this one is for Performance Considerations in watch()-->
		-<div>Total    : {{bill.totalCart | currency}}</div>
		-<div>Discount : {{bill.discount | currency}}</div>
		-<div>Subtotal : {{bill.subtotal | currency}}</div>

	</div>
	<!--<script src="angularjs/angular.min.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="controllers/HelloController.js" type="text/javascript" charset="utf-8"></script>
	<script src="controllers/CartController.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
